<h1>Dashboard#dashboard</h1>
<p>Find me in app/views/dashboard/dashboard.html.erb</p>
<%= if current_user.has_subscription? %>
    <%= button_to("Cancel", action: 'cancel_subscription', controller: 'membership_payments') %>
<% end %>