<h1>User Dashboard</h1>

<p>
  <%= @user.email %> <br>
  <%= @user.display_name %> <br>
</p>

<% @user.membership_requests.each do |request| %>
  <%= link_to "#{request.membership_type.name}##{request.id}", request %> <br>
<% end %>

<%= link_to "Apply to be a member", new_membership_request_path %>