<h1>User Dashboard</h1>

<p>
  <%= @user.email %> <br>
  <%= @user.display_name %> <br>
</p>

<% @user.membership_requests.each do |request| %>
  <%= link_to "#{request.membership_type.name}##{request.id}", edit_membership_request_path(request) %> <br>
<% end %>

<% if not @user.membership_requests.any? %>
  <%= link_to "Apply to be a member", new_membership_request_path %>
<% end %>