<p>
  Regards,<br>
  Alexandra O'Brien<br>
  Memberships Officer, Bloom<br>
  E: <a href="mailto:alexandra@bloom.org.au">alexandra@bloom.org.au</a><br>
  M: <a href="tel:+61400717342">+61 400 717 342</a>
</p>