<p>Dear <%= @request.user.firstname %>,</p>

<p>Great to have you on board as a Bloom Community Member!</p>

<p>Here's a few next steps:</p>
<ul>
  <li>Like the <a href="http://facebook.com/ProfectusAustralia">Bloom Facebook Page</a> and subscribe to our events feed</li>
  <li>Join the <a href="http://facebook.com/groups/bloom.uwa">Bloom UWA</a> or <a href="http://facebook.com/groups/CurtinBloom">Bloom Curtin</a> Facebook Groups</li>
  <li>Come along to our next Friday night drinks! They're every Friday at 5pm at the BloomLab in St Catherine's College (across Stirling Hwy from UWA)</li>
</ul>

<p>If you have any questions, please don't hesitate to reach out to me.</p>

<%= render 'signature' %>