<p>Dear <%= @request.user.firstname %>,</p>

<p>Great to have you on board as a Bloom <%= @request.membership_type.name %>!</p>

<p>Here's a few next steps:</p>
<ul>
  <li>Like the <a href="http://facebook.com/ProfectusAustralia">Bloom Facebook Page</a> and subscribe to our events feed</li>
  <li>Join the <a href="http://facebook.com/groups/bloom.uwa">Bloom UWA</a> or <a href="http://facebook.com/groups/CurtinBloom">Bloom Curtin</a> Facebook Groups and join the <a href="http://facebook.com/groups/867349346651609">Bloom Members</a> Facebook Group</li>
  <li>Visit the BloomLab during business hours (M-F 9am-5pm) to start working</li>
  <li>Come along to our next Friday night drinks! They're every Friday at 5pm at the BloomLab</li>
</ul>

<p>I'll be in contact shortly to arrange an induction and welcome session.</p>

<p>If you have any questions, please don't hesitate to reach out to me.</p>

<%= render 'signature' %>