<p>Dear <%= @request.user.firstname %>,</p>

<p>Great to have you on board, your Bloom <%= @request.membership_type.name %> has been accepted!</p>

<p>Here's a few next steps:</p>
<ul>
  <li>Like the <a href="http://facebook.com/BloomPerth">Bloom Facebook Page</a> and subscribe to our events feed</li>
  <li>Join the <a href="https://facebook.com/groups/bloom.community/">Bloom Community</a> and <a href="http://facebook.com/groups/867349346651609">Bloom Members</a> Facebook Groups</li>
  <li>Set your Bloom WiFi password <%= link_to 'here', wifi_url %> so you can sign-in to the 'BloomLab Members' WiFi network at the Lab</li>
  <li>Start working out of the BloomLab! (When we meet I will set you up with a 24/7 access card for use out of business hours)</li>
  <li>Come along to our next Friday community pitch night &amp; drinks</li>
  <li>Subscribe to our newsletter <a href="http://www.bloom.org.au/#footer">here</a></li>
</ul>

<p>Either Shyaam or myself will be in contact shortly to arrange an induction and welcome session.</p>

<p>If you have any questions, please don't hesitate to reach out to us.</p>

<%= render 'signature' %>
