<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p><%= @user.firstname %> <%= @user.lastname %></p>
  <p>Interview booked!</p>
</body>
</html>