<p>Dear <%= @request.user.firstname %>,</p>

<p>Thank you for applying to become a Bloom <%= @request.membership_type.name %>.</p>

<p>We're sorry to inform you that we're not able to accept your application at this time.</p>

<p>We would like to encourage you to become a Bloom Community Member - for only $25/semester you can get access to all the workshops and advisors you need to develop your idea and apply again.</p>

<p>To apply to become a Bloom Community Member please <a href="<%= new_membership_request_url %>">click here</a>.</p>

<p>For any more information or questions, please don't hesitate to reach out to me.</p>

<%= render 'signature' %>