<p>Dear <%= @request.user.firstname %>,</p>

<p>Thank you for applying to become a Bloom <%= @request.membership_type.name %>!</p>

<p>We're happy to inform you that your application has been accepted.</p>

<p>Please <%= link_to 'click here', membership_request_url(@request) %> to confirm your place and make your payment.</p>

<%= render 'signature' %>