<p>Dear <%= @request.user.firstname %>,</p>

<p>Thank you for applying to become a Bloom <%= @request.membership_type.name %>!</p>

<p>We’re happy to inform you that your application has been accepted.</p>

<p>Please <a href="<%= membership_request_url(@request) %>">click here</a> to confirm your place and make your payment.</p>

<p>
  Regards,<br>
  Julian Coleman<br>
  UWA President, Bloom<br>
  E: <a href="mailto:julian@bloom.org.au">julian@bloom.org.au</a><br>
  M: <a href="tel:+61404842354">+61 404 842 354</a>
</p>