<% unless current_user.staff? %>

<h1>Your Dashboard</h1>

<p>Hi, I'm your dashboard. Am I full? Am I empty? I don't know, my coders haven't implemented that level of self-awareness yet. For now, I can give you the general advice - start a new application or continue an existing application here.</p>

<% if @active_applications.any? %>
  <h2>Active Applications / Memberships</h2>
  <% @active_applications.each do |request| %>
      <% if not request.cancelled? and not request.expired? %>
          <%= link_to "#{request.membership_type.name}", request %> <br>
          <% if request.active_membership? and request.has_subscription? %>
            (<%= link_to "Cancel subscription", action: 'cancel_subscription', controller: 'membership_payments', :membership_request_id => request.id %>) <br>
          <% end %>
      <% end %>
  <% end %>
  <br><br>
<% end %>

<% unless @active_memberships.any? %>
    <%= button_to 'Apply to be a member', new_membership_request_path, method: 'get', id: 'dashboard_apply_to_be_a_member' %>
<% end %>

<% else %>
    <p>This is a staff account, you can't apply for anything :(</p>
<% end %>