<h1>Hello &amp; Welcome to Bloom</h1>

<p>Looks like you’re interested in joining Bloom - good choice! We make starting stuff and being entrepreneurial much easier for young Western Australians, university students and recent grads.</p>
<p>To start or continue an application to become a Bloom community member or co-working member, please sign-up or log in.</p>

<button style="margin-left: auto;margin-right: auto;display: block;background-color:#D50F25;" onclick="location.href='<%= user_omniauth_authorize_path(:google_oauth2) %>'">Log in with Google</button>