<h1>Hello &amp; Welcome to Bloom Memberships Management</h1>

<p>Looks like you’re interested in joining Bloom - good choice! To start or continue an application to become a Bloom community member or co-working member, please sign-up or login ... If that’s not what you’re doing here, you’re probably in the wrong place.</p>
<p>P.S. In case you didn’t realise already, you should probably know that Bloom is focused on helping young people (generally under the age of 30).</p>

<button style="margin-left: auto;margin-right: auto;display: block;background-color:#D50F25;" onclick="location.href='<%= user_omniauth_authorize_path(:google_oauth2) %>'">Log in with Google</button>