<h1>Hello &amp; Welcome to Bloom</h1>

<p>Looks like you’re interested in joining Bloom - good choice! To start or continue an application to become a Bloom community member or co-working member, please sign-up or login ... If that’s not what you’re doing here, you’re probably in the wrong place.</p>
<p>P.S. In case you didn’t realise already, you should probably know that Bloom is focused on helping young people (generally under the age of 30).</p>
