<h1>Thanks for signing up to Bloom!</h1>
<p>We'd like to get to know you a little bit more, so please fill out the following information.</p>

<%= render 'form' %>

<%= link_to 'Back', user_profiles_path %>
