<%= render 'workflow_header' %>

<p>Your membership is currently active.</p>

<p>To make changes to your payment information, please <a href="mailto:<%= Rails.configuration.x.help_contact.email %>">contact <%= Rails.configuration.x.help_contact.name %></a>.</p>

<%= render 'workflow_footer' %>