<%= render 'workflow_header' %>

<p>Thank you for submitting your application to become a Bloom <%= @membership_request.membership_type.name %>! A Bloom team member will be in contact with you in the next few days to organise an interview.</p>

<%= render 'workflow_footer' %>