<%= render 'workflow_header' %>

<p>Your membership is currently active.</p>

<p>To make changes to your payment information, please <a href="mailto:julian@bloom.org.au">contact Julian</a>.</p>

<%= render 'workflow_footer' %>