<%= render 'workflow_header' %>

<p>Thank you for applying to become a Bloom <%= @membership_request.membership_type.name %>. We're sorry to inform you that we're not able to accept your application at this time.</p>

<p>We would like to encourage you to become a Bloom Community Member - you can get access to all the workshops and advisors you need to develop your idea and apply again.</p>

<%= render 'workflow_footer' %>