<%= render 'workflow_header' %>

<p>This membership request has expired.</p>

<p>You may apply for a new membership type from <%= link_to 'the dashboard', dashboard_path %>.</p>

<%= render 'workflow_footer' %>